.about{ 
    display: grid;
    align-content: center;
    background-color:$color-dark-tertiary;
    color: $color-white;
    font-size: 1.6rem;

    @media only screen and(max-width: $bp-medium){
      font-size: .8rem;
    }
    
    

    &__main{
      grid-column: full-start / col-end 3;
      grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
      background-color:$color-dark-quatro;
      letter-spacing: .2rem;
      font-weight: 400;
      text-transform: uppercase;


      &-text{
        grid-column: col-start 2 / col-end 4;
        animation: moveInTop 1s ease-out;
        background-image: none;
      }
    }
    &__sub{
      grid-column: col-start 4 / full-end;
      grid-template-columns: repeat(10, [col-start] 1fr [col-end]);
      
      &-text{
        grid-column: col-start 2 / col-end 7;
        animation: moveInTop 1s ease-out;

        @media only screen and(max-width: $bp-large){
          grid-column: col-start 2 / col-end 9;
        }
      }
    }
  }
