.contact{ 
    display: grid;
    align-content: center;
    color: $color-white;
    font-size: 1.6rem;
    
    &__main{
      grid-column: full-start / col-end 3;
      grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
      
      letter-spacing: .2rem;
      font-weight: 400;
      text-transform: uppercase;
      background-color:$color-dark-quatro;

      &-text{
        grid-column: col-start 2 / col-end 4;
        animation: moveInTop 1s ease-out;
      }
    }
    &__sub{
      grid-column: col-start 4 / full-end;
      grid-template-columns: repeat(10, [col-start] 1fr [col-end]);
      background-color:$color-dark-quatro;
      
      &-text{
        grid-column: col-start 2 / col-end 7;
        animation: moveInTop 1s ease-out;
        margin: 1rem 0;
        & p{
            color:$color-primary;
            padding-top: .3rem;
            & a{
              text-decoration: none;
            }
        }
      }
    }
  }

  .link__img{
    padding-right: 2rem;
  }