#app{
    grid-column: full-start / full-end;
}
.header{
    
    background-color:  $color-dark-secondary;
    // align-items: center;
    grid-column: full-start / full-end;
    grid-template-columns: repeat(10, [col-start] 1fr [col-end]);
    display: flex;
    align-items: center;
    flex-direction: column;
    &__logo{
         
        &__img{
            height: 12rem;
            justify-self: center;
        }
    }
    &__heading{
        padding-top: 25rem;
        justify-self: center;
        
        @media only screen and(max-width: $bp-large){
            transform: scale(.7);
            padding-top: 15rem;
          }
        @media only screen and(max-width: $bp-medium){
            transform: scale(.5);
        }  
    }
}


