.portfolio{
    height: 100vh;
    background-color: $color-dark-secondary;
}  
.portfolio__box{
    height: 30vh;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 4rem;

    &__pic{
        width: 50%;
        height: 2rem;
        background-size: contain;
        }
        
        &__tile{
            color: palevioletred;
        }
    }
