.portfolio{

        grid-column: full-start / col-end 2;
        display: grid;
        align-content: center;
        grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
        background-color: $color-dark-secondary;
        padding: 10rem 0;

        &__txt{
        
            grid-column: col-start 3 / col-end 4;
            font-size: 1.6rem;
            color: $color-white;
            letter-spacing: .2rem;
            
            &__heading{
                text-transform: uppercase;
                // font-weight: 400;
                padding-bottom: 3rem;
            }
            &__description{
                font-size: 1.3rem;
                line-height: 2.2rem;
                
            }
            &__list{
                
                margin-top: 2rem;
                &-item{
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: .1rem;
                    font-weight: 400;
                    transition: all .2s ease;
                    color: $color-grey;
                    &:hover{
                        font-weight: 900;
                        color: $color-primary;
                    }
                }
            }
        }

    &__pic{
        grid-column: col-start 3 / full-end;
        grid-template-rows: 10rem 1fr 10rem;
        background-color: $color-dark-secondary;
        display: grid;
        
        grid-template-columns: repeat(10, [col-start] 1fr [col-end]);

        align-items: center;
        justify-content: center;

        &__1{
            grid-column: col-start 2 / col-end 9;
            grid-row: 2/-2;
            width: 80%;
            transition: all .4s ease;
            
            &:hover{
                transform: scale(1.02);
            }
        }
    }
    
}
.btn{
    border: 1px solid $color-white;
    padding: 2rem 4rem;
    background-color: transparent;
    color: $color-primary;
    margin-top: 3rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.2rem;
    transition: all .4s ease;
    &:hover{
        border: 1px solid $color-primary;
        color: $color-white;
        background-color: $color-dark-secondary;

    }
}
