.title-middle{
    text-align: center;
    background-color: black;
    grid-column: full-start / full-end;

    &__main{
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1.7rem;
      color: $color-white;
      display: block;
      animation: moveInTop 1s ease-out;
      animation-fill-mode: backwards;
  
    }
    &__sub{
      font-size: 1.2rem;
      letter-spacing: .4rem;
      margin-top: 1rem;
      color: $color-primary;
      display: block;
      animation: moveInTop 1s ease-out .8s;
      animation-fill-mode: backwards;
    }
  }