$color-dark-primary: #1C1C1C;
$color-dark-secondary: rgb(10, 10, 10);
$color-dark-tertiary: rgb(14, 14, 14);
$color-dark-quatro: rgb(5,5,5);
$color-black: #000;
$color-primary: #42c3bc;
$color-secondary: #75f7f0;
$color-white: #fff;
$color-grey: #747577;
$color-light-grey: #e7e7e7;


//RESPONSIVE BREAKPOINTS

$bp-large: 75em;  //1200px
$bp-medium: 56.25em;  //900px
$bp-small: 37.5em;  //600px

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-white;
  background-color: $color-dark-primary;

}

.container{
  display: grid;
  grid-template-rows: 100vh 60vh repeat(4, 40vw) 40vh min-content;
  grid-template-columns:  [full-start] 1fr [center-start]
  repeat(8, [col-start] 1fr [col-end]) [center-end] 1fr [full-end];
  
  @media only screen and(max-width: $bp-large){
   grid-template-rows: 80vh 40vh repeat(4, 40vw) 30vh min-content;
  }
  @media only screen and(max-width: $bp-medium){
    grid-template-rows: 100vh 30vh repeat(4, 40vw) 30vh min-content;
  }
  @media only screen and(max-width: $bp-small){
    grid-template-rows: 50vh 40vh repeat(4, 40vw) 30vh min-content;
  }
}
