$color-dark-primary: #1C1C1C;
$color-dark-secondary: rgb(10, 10, 10);
$color-dark-tertiary: rgb(14, 14, 14);
$color-dark-quatro: rgb(5,5,5);
$color-black: #000;
$color-primary: #42c3bc;
$color-secondary: #75f7f0;
$color-white: #fff;
$color-grey: #747577;
$color-light-grey: #e7e7e7;